-- BETBOXSCRAPERNODEJS --

betboxscrapernodejs/node_modules/
betboxscrapernodejs/.idea/
betboxscrapernodejs/spinHistory
betboxscrapernodejs/sessions
betboxscrapernodejs/balanceHistory
betboxscrapernodejs/activeBets
betboxscrapernodejs/.env
betboxscrapernodejs/lastBalanceDates.json
betboxscrapernodejs/lastSpinDates.json
/betboxscrapernodejs/htmlDaAnalizzare.html



-- IOS_APP --

iOS_APP/BetBox.xcodeproj/project.xcworkspace/xcuserdata
/iOS_APP/BetBox.xcodeproj/xcuserdata/simo.xcuserdatad
/iOS_APP/._BetBox.xcodeproj
/iOS_APP/BetBox.xcodeproj/._project.xcworkspace
/iOS_APP/BetBox/._ContentView.swift
/iOS_APP/BetBox/._SpinView.swift



-- OTHER --

/PWA_React
/.idea
*.DS_Store
/betboxscrapernodejs/jsonBetExample.json
