-- BETBOXSCRAPERNODEJS --

server/node_modules/
server/.idea/
server/spinHistory
server/sessions
server/balanceHistory
server/activeBets
server/.env
server/lastBalanceDates.json
server/lastSpinDates.json
/server/htmlDaAnalizzare.html
/server/jsonBetExample.json
/server/data/predictions/*
server/start-remote-debug.bat
server/start-remote-debug.bat - link.lnk


-- IOS_APP --

iOS/BetBox.xcodeproj/project.xcworkspace/xcuserdata
/iOS/BetBox.xcodeproj/xcuserdata/simo.xcuserdatad
/iOS/._BetBox.xcodeproj
/iOS/BetBox.xcodeproj/._project.xcworkspace
/iOS/BetBox/._ContentView.swift
/iOS/BetBox/._SpinView.swift



-- OTHER --

/.idea
*.DS_Store
/server/remote-debug-client.sh
